<div>
    <span>¿Le ha sido útil mi respuesta?</span>
    <div class="form-inline">
        <button type="button" class="btn btn-sami-second mb-2 mr-sm-2 mb-sm-0 OtherAnswer"><i class="fa fa-check"></i> Si</button>&nbsp;
        <button type="button" class="btn btn-sami-second mb-2 mr-sm-2 mb-sm-0 GenerateTicket"><i class="fa fa-close"></i> No</button>
    </div>
</div>
