<div>
    <span>¿Deseas pasar con un agente para que te solucione el caso?</span>
    <div class="form-inline">
        <button type="button" class="btn btn-sami-success mb-2 mr-sm-2 mb-sm-0 QueueForAgentChat"><i class="fa fa-check"></i> Si</button>&nbsp;
        <button type="button" class="btn btn-sami-success mb-2 mr-sm-2 mb-sm-0 NegativeAnswer"><i class="fa fa-close"></i> No</button>
    </div>
</div>