@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="body">
        <br />
        <h1>Bienvenido Administrador</h1>
        <ul>
            <li><b><h5>Usuarios:</h5></b> Podrás crear nuevos Agentes, Administradores y Entrenadores para la Plataforma, modificar roles y datos del usuario, eliminar usuarios y ver el listado.</li>
            <li><b><h5>Compañías:</h5></b> Podrás Agregar nuevas compañías, modificar logo, colores, datos de LUIS y QnA de tu compañía y/o otras compañías, eliminar.</li>
            <li><b><h5>Reportes:</h5></b> Podrás revisar los reportes generados por Power BI.</li>
        </ul>
    </div>
</div>